.phone{
  display: flex;
  font-size: 23px;
  padding: 10px;
  border-radius: 10px;
}
.name{
  display: flex;
  font-size: 23px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  resize: none;
}
.text{
  display: flex;
}

.userName{
  display: flex;
  margin-top: 15px;
  font-size: 25pt;
}
